    <%- include('../layout/header'); %>

<link rel="stylesheet" href="../../assets/css/slick.css"/> 
<link rel="stylesheet" href="../../assets/css/slick-theme.css"/>
<link rel="stylesheet" href="../../assets/css/flatpickr.min.css">
</head>
<body>

    <%- include('../layout/nav'); %>
    
            <!-- Hero Start -->
            <section class="bg-half bg-light d-table w-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <div class="page-next-level">
                                <h4 class="title"> <%- room.title %></h4>
                                <div class="page-next">
                                    <nav aria-label="breadcrumb" class="d-inline-block">
                                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item"><a href="/rooms">Rooms</a></li>
                                            <li class="breadcrumb-item active" aria-current="page"><%- room.title %>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div> <!--end container-->
            </section><!--end section-->
            <div class="position-relative">
                <div class="shape overflow-hidden text-white">
                    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                    </svg>
                </div>
            </div>
            <!-- Hero End -->

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <img src="../../assets/images/hotel/01.jpg" class="img-fluid rounded" alt="">
                            <div class="section-title ml-md-4">
                                <h4 class="py-3 title"><%- room.title %></h4> 
                                <h5 class="mt-4 py-2">Overview :</h5>
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem, unde molestiae sint quae inventore atque minima natus fugiat nihil quisquam voluptates ea omnis. Modi laborum soluta tempore unde accusantium.</p>
                            
                            </div>
                        </div><!--end col-->
    
                        <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <div class="rounded shadow-lg p-4">
                                <div class="d-flex mb-4 justify-content-between">
                                    <h5>Charges Per<%- room.type %> </h5>
                                    <a  class="text-muted h4">$<%- room.price %></a>
                                </div>

                                <form method="post" action="/booking/submit">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Check in : </label>
                                            <input name="sdate" type="text" class="flatpickr flatpickr-input form-control" id="checkin-date" readonly="readonly">
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Check out : </label>
                                            <input name="edate" type="text" class="flatpickr flatpickr-input form-control" id="checkout-date" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Adults : </label>
                                            <input name="adult"  type="number" min="0" required="" class="form-control" placeholder="Adults :">
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Children : </label>
                                            <input name="children" type="number" min="0" class="form-control" placeholder="Children :">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Phone : </label>
                                            <input name="phone" required type="text"  class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <label>Email : </label>
                                            <input name="email" type="email" class="form-control" >
                                        </div>
                                        <textarea required name="details"  rows="4" class="form-control" placeholder="Notes about your order :"></textarea>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-center table-padding mb-0">
                                        <tbody>
                                            <tr>
                                                <td class="h6 border-0">Bed</td>
                                                <td class="text-center font-weight-bold border-0"><%- room.bed %></td>
                                            </tr>
                                            <tr>
                                                <td class="h6">Bath</td>
                                                <td class="text-center font-weight-bold"><%- room.bath %></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="mt-4 pt-2">
                                        <button type="submit" class="btn btn-block btn-primary">Book Now</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </section>

        <%- include('../layout/footer'); %>
        <%- include('../layout/scripts'); %>

  <!-- Datepicker -->
  <script src="../../assets/js/flatpickr.min.js"></script>
  <script src="../../assets/js/flatpickr.init.js"></script>

</body>
</html>